services:
  redis:
    image: crpi-tyce9o8tisqe9vrd.cn-shanghai.personal.cr.aliyuncs.com/crazy_david/redis:7
    container_name: redis
    restart: always
    ports:
      - "127.0.0.1:6379:6379"
    volumes:
      - ./redis-data:/data

  mihomo_proxy_pool:
    image: crpi-tyce9o8tisqe9vrd.cn-shanghai.personal.cr.aliyuncs.com/crazy_david/mihomo-proxy-pool:latest
    container_name: mihomo-proxy-pool
    network_mode: host
    depends_on:
      - redis
    working_dir: /app
    restart: always
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "1"
